@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color de marca. Cámbialo aquí y se aplica en toda la app. */
  --brand: #4f46e5; /* índigo */
  --brand-dark: #4338ca; /* tono oscuro para hover */
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--brand);
  color: white;
}
